
  <h1>URL shortener</h1>
    <h1>Log in here</h1>
    <form action="/login" method="post">
    <p>Username</p><input type="text" name="username">
    <p>Password</p><input type="text" name="password">
    <br/><br/>
    <input type="submit" value="Login">
    </form>
 
  <br/>
  <br/>

  <a href="/create_user">Create New User</a>

  <br/>
  <br/> 

  Please enter the URL you would like to shorten:

  <form action="/post_url" method="post">
  <input type="text" name="post[long_url]">
  <input type="submit" value="Shorten!">
  <input type="text" value=0 hidden name="post[click_count]">
  </form>



  <p><% @all_url.each do |url|%></p>
      <p><%= url.long_url %></p>
      <p><%= request.host %>/<%= url.short_url %></p>
  <% end %>
