
  <h1>URL shortener</h1>
    <h1>Log in here</h1>
    <form action="/login" method="post">
    <p>Username</p><input type="text" name="username">
    <p>Password</p><input type="text" name="password">
    <br/><br/>
    <input type="submit" value="Login">
    </form>
 
  <br/>
  <br/>

  <a href="/create_user">Create New User</a>

  <br/>
  <br/> 

  Please enter the URL you would like to shorten:

  <form action="/post_url" method="post">
  <input type="text" name="post[long_url]">
  <input type="submit" value="Shorten!">
  <input type="text" value=0 hidden name="post[click_count]">
  </form>


  <table class="url_table">
    <tr>
    <th>Long Url</th>
    <th>Short Url</th>
    </tr>

    <% @all_url.each do |url|%>
      <tr>
        <td><%= url.long_url %></td>
        <td><%= url.short_url %></td>
      </tr>
    <% end %>
  </table>

<script>

  $(document).ready(function(){

    $('form').submit(function(e){

      e.preventDefault();
    
      $.ajax({

        type: "POST",
        url: $(this).attr("action"),
        data: $(this).serialize(),
        dataType: "json",
        success: function(response){
          $(".url_table").append('<tr><td>' + response.long_url + '</td><td>' + response.short_url + '</td></tr>') },
        error: function(request, errorType, errorMessage) {
          alert('Error: ' + errorType + ' with message: ' + errorMessage)} 
      })

    })
  })

</script>

