
  <h1>Welcome!</h1>
  Please create your new account!

  <form action="/create_user" method="post">
  <p>Username</p>
  <input type="text" name="user[username]">
  <p>Password</p><input type="text" name="user[password]">
  <br/><br/>
  <input type="submit" value="Create User">
</form>

