<h1>Short URLS created by <%= @user.username %></h1>
<div class="container">
  <p><% @all_urls.each do |url|%></p>
    <p><%= url.long_url %></p>
    <p><%= request.host + url.short_url %></p>
    <p>Number of visits: <%= url.click_count%></p>
  <% end %>
    <form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Logout</button>
  </form>
  <a href="/">Shorten URL</a>
</div>

